* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img {
    width: 250px;
    height: 250px;
}


.colorChange {
    color: white;
    transition: all 1.5s;
    border-radius: 20px;
    background-color: #98b7e500;
}

.colorChange.dark {
    background-color: #07080900;
}

.mode-control input {
    position: absolute;
    opacity: 0;
}

.mode-control span:nth-of-type(2) {
    display: none;
}

.mode-control input:checked + span {
    display: none;
}

.mode-control input:checked + span + span{
    display: inline-block;
}

.mode-control span {
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
    line-height: 30px;
    border-radius: 30px;
    background-color: black;
    color: white;
}

.mode-control > span > svg {
    padding-bottom: 5px;
}

.colorChange.dark .mode-control span {
    background-color: white;
    color: black;
}

.main {
    height: 100vh;
}
.arka {
    z-index: 10;
}

.arkaplan {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    z-index: 0;
}

.day {
    height: 100vh;
    width: 25vw;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), transparent), url("./day.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 20px;
    transition: all 1.5s;
    z-index: 10;
}

.day.opaklik {
    opacity: 0;
}

.night {
    height: 100vh;
    width: 25vw;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), transparent), url("./night.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 20px;
    transition: all 1.5s;
    z-index: 6;
}

.profileDiv {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    z-index: 15;
}

.profile {
    height: 80vh;
    width: 25vw;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    transition: all 1.5s;
    z-index: 15;
}

.profile2 {
    height: 100vh;
    width: 25vw;
}

.glassmorphism {
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 20px;
}

.divHeader {
    height: 10vh;
    width: 25vw;
    padding: 0 10px;
    border-radius: 20px 20px 0 0;
    border: 1px solid black;
    border-bottom: none;
    transition: all 1.5s;
}

.fBtn1, .fBtn2, .fBtn3, .fBtn4, .fBtn5 {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: #ff340c 0px 0px 20px 5px;
    transition: all 1.5s;
}

.logo {
    height: 45px;
    width: 35px;
    cursor: pointer;
}

.logo > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.divBody {
    height: 78vh;
    width: 25vw;
    transition: all 1.5s;
    overflow: hidden;
}

.circle {
    height: 48vh;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
}

.disk {
    position: absolute;
    display: block;
    height: 250px;
    width: 250px;
    background-image: url("./images/cover\ 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 50%;
    box-shadow: #ff7700 0px 0px 40px 10px;
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
    transition: all 1.5s;
    z-index: 90;
}

.libraryDiv, .addDiv, .settingsDiv, .profileDiv {
    display: block;
    position: absolute;
    height: 90%;
    width: 100%;
    transition: all 1.5s;
    z-index: 100;
}

.degis {
    display: block;
    position: absolute;
    height: 90%;
    width: 100%;
    transition: all 1.5s;
    z-index: 100;
}

.aaa {
    
}

.disk.red {
    position: relative;
    display: block;
    height: 250px;
    width: 250px;
    background-image: url("./images/cover\ 1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-shadow: #ffffff 0px 0px 40px 10px;
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
    transition: all 1.5s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.disk.play {
    animation-play-state: running;
}

.circle > img {
    border-radius: 50%;
    animation: rotation 6s infinite linear;
}

.soundName {
    height: 10vh;
    padding: 0 10px;
}

.music-name , .artist-name {
    text-transform: capitalize;
}

.music-name {
    font-size: 18px;
    font-weight: 500;
}

.repeat, .shuffle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: #ff340c 0px 0px 20px 5px;
    border: none;
    transition: all 1.5s;
    color: white;
    margin: 0 5px;
}


.soundButton {
    height: 5vh;
}

.musicName {
    height: 5vh;
}

.musicName > p {
    font-size: 14px;
}

.line {
    height: 6vh;
}

.song-slider {
    position: relative;
    padding: 0 10px;
    width: 100%;
}

.current-time, .song-duration {
    font-size: 14px;
}

.seek-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.4);
    cursor: pointer;
    overflow: hidden;
    transition: all 1.5s;
}

.seek-bar.dark-mode {
    background-color: #0048ff7b;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 4px;
    height: 15px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    box-shadow: -400px 0 0 400px #ffffff;
}

.playPause {
    height: 13vh;
    padding: 0 10px;
}

.play-btn {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 15px;
    border: none;
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: #ff340c 0px 0px 20px 5px;
    transition: all 1.5s;
}

.play-btn span {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 5px;
    height: 30px;
    border-radius: 5px;
    background: white;
    transition: 0.7s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-btn  span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);

}

.play-btn.pause span:nth-child(1) {
    width: 35%;
    left: 56%;
    transform: translate(-50%, -50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause {
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0;
    }
    50% {
        box-shadow: 0 0 20px 10px #7868E6;
    }
    100% {
        box-shadow: 0;
    }
}


.backward-btn, .forward-btn, .dislike, .like {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 5px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgba(255, 0, 0, 0.4);
    box-shadow: #ff340c 0px 0px 20px 5px;
    transition: all 1.5s;
}


.repeat.active, 
.shuffle.active,
.like.active,
.dislike.active,
.fBtn1.active, 
.fBtn2.active,
.fBtn3.active, 
.fBtn4.active, 
.fBtn5.active {
    background-color: rgba(255, 0, 0);
    box-shadow: #ff340c 0px 0px 20px 5px;
}

.repeat.active.like-dark,
.shuffle.active.like-dark, 
.like.active.like-dark, 
.dislike.active.like-dark, 
.fBtn1.active.like-dark, 
.fBtn2.active.like-dark, 
.fBtn3.active.like-dark, 
.fBtn4.active.like-dark, 
.fBtn5.active.like-dark {
    background-color: #0048ff;
    box-shadow: #ffffff 0px 0px 20px 5px;
}

.cdn.like-dark {
    background-color: #0048ff7b;
    box-shadow: #7868E6 0px 0px 20px 5px;
}

.divFooter {
    height: 7vh;
    width: 25vw;
    transition: all 1.5s;
}

.divFooter2 {
    height: 5vh;
    width: 25vw;
    border-radius: 0 0 20px 20px;
    border: 1px solid black;
    border-top: none;
    padding: 0 5px;
    transition: all 1.5s;
}

.divFooter2 > div > p {
    width: 20%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    color: white;
    text-shadow: 0px 0px 20px #ffffff;
}

.buttons {
    width: 100%;
    padding: 0 5px;
    transition: all 1.5s;
}

.buttons.dark {
    background-color: white;
    color: black;
}

.buttons > div {
    width: 20%;
    display: flex;
    justify-content: center;
}

.buttons  > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(255, 255, 255);
}




@media all and (max-width: 992px){
    .phone {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .arkaplan {
        height: 100vh;
        width: 100vw;
    }

    .glassmorphism {
        border-radius: 0;
    }

    .day, .night {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }
    .divHeader {
        height: 10vh;
        width: 100vw;
        border-radius: 0;
    }
    .divBody {
        height: 78vh;
        width: 100vw;
        border-radius: 0;
    }

    .disk {
        height: 230px;
        width: 230px;
        box-shadow: #ff7700 0px 0px 50px 10px;
    }

    .disk.red {
        height: 230px;
        width: 230px;
        box-shadow: #ffffff 0px 0px 50px 10px;
    }

    .circle {
        height: 48vh;
    }

    .divFooter {
        height: 7vh;
        width: 100vw;
        border-radius: 0;
    }
    .divFooter2 {
        height: 5vh;
        width: 100vw;
        border-radius: 0;
    }

    .colorChange {
        border-radius: 0px;
    }
}